


.modal-footer {   border-top: 0px; }

.error{
    color: red;
    font-weight:500;
}



/*  ---  */



.cnt-copyright {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #808080;
    padding: 20px 0;
}

.btn .btn-primary {
    background-color: #000000 !important;
    border-color: #000000 !important;
    transition: ease-in-out 0.3s;
}


.cnt-pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f9f9f9;
    padding-top: 20px;
}

    .cnt-pesquisa .cnt-topo {
        padding: 20px;
        border-radius: 10px !important;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.05) !important;
        background-color: #ffffff;
    }

        .cnt-pesquisa .cnt-topo .logo {
            width: 10%;
        }

        .cnt-pesquisa .cnt-topo .username-logout {
            display: flex;
            justify-content: center;
            align-items: end;
            flex-direction: column;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

            .cnt-pesquisa .cnt-topo .username-logout a {
                font-family: "Montserrat", sans-serif;
                font-weight: 400;
                font-style: normal;
                text-decoration: none;
                color: #e5650a;
                transition: ease-in-out 0.3s;
            }
                .cnt-pesquisa .cnt-topo .username-logout a:hover {
                    color: #ae4d07;
                }

.cnt-pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f9f9f9;
    padding-top: 20px;
}

    .cnt-pesquisa .cnt-conteudo {
        padding: 20px;
        border-radius: 10px !important;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.05) !important;
        background-color: #ffffff;
    }

        .cnt-pesquisa .cnt-conteudo label {
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 14px;
            color: #3d3d3d;
        }

        .cnt-pesquisa .cnt-conteudo .pt-2 {
            padding-top: 24px;
        }

    .cnt-pesquisa .cnt-resultado-busca {
        margin-top: 20px;
        padding: 20px;
        border-radius: 10px !important;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.05) !important;
        background-color: #ffffff;
    }

        .cnt-pesquisa .cnt-resultado-busca h3 {
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 20px;
            color: #000000;
        }

        .cnt-pesquisa .cnt-resultado-busca h4 {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-style: normal;
            font-size: 18px;
            color: #000000;
        }

        .cnt-pesquisa .cnt-resultado-busca p {
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            color: #000000;
            padding-bottom: 30px;
            border-bottom: 1px solid #d8d8d8;
        }

        .cnt-pesquisa .cnt-resultado-busca p:last-child {
            border-bottom: 0;
        }



/* --- */

.main-site {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f9f9f9;
    padding-top: 20px;
    position:relative;
}

    .main-site .nopadding {
        padding-left: 0;
        padding-right: 0;
    }

    .main-site .cnt-topo {
        -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.08);
        -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.08);
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.08);
        background-color: #ffffff;
        width: 60%;
        margin-top: -170px;
    }

        .main-site .cnt-topo .nav-pills li .nav-link:first-child {
            border-radius: 0;
            padding: 20px 30px;
        }

        .main-site .cnt-topo .nav-pills .nav-link {
            border-radius: 10px;
            padding: 10px 30px;
            color: #fa6502;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-style: normal;
            color: #808080;
        }

            .main-site .cnt-topo .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
                color: var(--bs-nav-pills-link-active-color);
                background-color: #fa6502;
            }

    .main-site .cnt-conteudo {
        margin-top: 95px;
        background-color: #ffffff;
        padding: 30px;
        width: 60%;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #808080;
        -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.08);
        -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.08);
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.08);
    }

        .main-site .cnt-conteudo .ilu-a-empresa {
            width: 100%;
        }

        .main-site .cnt-conteudo h1 {
            color: #fa6502;
            line-height: 30px;
            margin-bottom: 30px;
        }

            .main-site .cnt-conteudo h1 span {
                color: #3d3d3d;
                font-size: 20px;
            }

        .main-site .cnt-conteudo h2 {
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 2.0rem;
            color: #5a5a5a;
            line-height: 42px;
        }

            .main-site .cnt-conteudo h2 span {
                color: #fa6502;
            }

        .main-site .cnt-conteudo h3 {
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 1.2rem;
            color: #5a5a5a;
            padding: 25px 0 0 0;
        }

        .main-site .cnt-conteudo .box-servico {
            display: block;
            overflow: hidden;
            background-color: #f5f5f5;
            -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.08);
            -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.08);
            box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.08);
            text-align: center;
            padding: 20px;
        }

            .main-site .cnt-conteudo .box-servico img {
                width: 30%;
            }

            .main-site .cnt-conteudo .box-servico span {
                font-family: "Montserrat", sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 1rem;
                color: #5a5a5a;
            }

    .main-site .cnt-top {
        display: block;
        overflow: hidden;
        width: 100%;
        background-color: #f87219;
        margin-top: 50px;
    }

        .main-site .cnt-top h1 {
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 2.0rem;
            color: #ffffff;
            padding: 35px 0 35px 20%;
        }

    .main-site .cnt-whats {
        display: block;
        overflow: hidden;
    }

        .main-site .cnt-whats img {
            width: 20%;
        }

        .main-site .cnt-whats a {
            text-decoration: none;
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 1.0rem;
            color: #ff7500;
        }

/*

    

*/